<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suprise</title>
</head>
<body>
<style> body{background-color: azure}


</style>
    <h1>Did you find all your tag pairs?</h1>
<h2>How long did it take us?</h2>
<h3>There was something like 20 pairs in total</h3>
<h6>This is my last Heading text.  Lets go into more fun stuff.</h6>
<br/>
<p>Here's what we ate in the potluck yesterday</p>

<ul>
    <li>Lasagna</li>
    <li>Duck Donuts</li>
    <li>Keylime pie</li>
    <li>Chips</li>
    <li>Dunkin Donuts</li>
    <li>Drinks</li>
</ul>

<div>
    <hr/>
    <img src="http://clipart-library.com/data_images/52964.jpg" alt="screenshot" height="150" width="150">
</div>
    <a href ="">Here are some ideas for <b>summer potluck</b> parties</a>
<form>
    <p>name:</p><input/>
    <p>Food i brought</p><textarea></textarea><br/>
    <button>Submit</button><button>Cancel</button>
</form>
<table>
    <th>Staff</th><th>Their Favorites</th>
    <tr>
        <td>Jennifer</td><td>Green Tea Icecream</td>

    </tr>
    <tr><td>Sherry</td><td>Chai Bubble Tea</td>
    </tr>
    <tr><td>AJ</td><td>Olivia macroons</td></tr>
</table>
</body>
</html>